@media (min-width: 320px) and (max-width: 575px) {
  .container {
    width: 100%;
  }

  .img-fluid {
    width: 100%;
    height: auto;
  }

  .title {
    text-align: center !important;
    width: auto;
    font-size: 28px;
  }

  .left-title::after,
  .right-title::after {
    content: "";
    position: absolute;
    top: 118px;
    right: 50% !important;
    transform: translateX(50%) !important;
    width: 120px;
    height: 3px;
    background-color: #ff4655;
    display: none;
  }

  .navbar-collapse {
    background-color: #212121;
  }

  .button {
    margin: 0 auto;
  }

  #banner .text-area {
    padding-top: 245px;
    padding-bottom: 118px;
  }

  #banner h4 {
    text-align: center;
  }

  #banner h1 {
    font-size: 33px;
    width: auto;
    text-align: center;
  }

  #banner h1::after {
    top: 59px;
    right: 50%;
    transform: translateX(50%);
  }

  #banner p {
    width: auto;
    text-align: center;
    margin-top: 30px;
  }

  #banner .links {
    justify-content: center;
  }

  #about .aboutcard {
    margin-bottom: 20px;
    background-color: #212121;
    padding: 26px 90px;
    border-radius: 0 50px 0 50px;
  }

  #about .aboutcard h1 {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
  }

  #about .aboutcard h1::after {
    right: -2px;
  }

  #popular-games .swiper-button-prev {
    top: 170px !important;
    left: 2px !important;
    display: none;
  }

  #popular-games .swiper-button-next {
    top: 170px !important;
    left: 427px !important;
    display: none;
  }

  #stremming .games .game-card {
    margin-bottom: 20px;
  }

  #stremming .games .game-card .overlay img {
    width: 45px;
  }

  #stremming .games .game-card .overlay h2 {
    padding-top: 127px;
  }

  #stremming .games .game-card .overlay span {
    right: 33px;
    bottom: 24px;
  }

  .headtohed img {
    width: 20%;
    height: auto;
  }

  #topgames .poster {
    margin-bottom: 20px;
  }

  .add h1 {
    font-size: 31px;
  }

  .explore img {
    margin-top: 20px;
  }

  #assesories .assesories-card {
    background-color: #212121;
    /* width: 253px; */
    width: 100%;
    /* height: 465px; */
    text-align: center;
    margin: 5px;
  }

  #assesories .swiper-button-next {
    right: 12px;
    display: none;
  }

  #assesories .swiper-button-prev {
    left: 15px;
    display: none;
  }

  #teams .team-card .overlay {
    padding: 18px 30px;
  }

  #teams .team-card .overlay p {
    width: auto;
  }

  #faq .left-title {
    font-size: 34px;
    width: auto !important;
  }

  .space-left {
    margin: 0;
  }

  .all-faq .b-right,
  .all-faq .b-left,
  .all-faq .b-right-t,
  .all-faq .b-left-t {
    border: 0;
  }

  .space-top {
    align-items: flex-start;
  }

  footer .subs h1 {
    font-size: 32px;
    width: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  footer .bottom-part .links {
    margin-bottom: 20px;
  }

  footer form input {
    width: 100%;
  }

  footer .bottom-part p {
    width: auto;
    margin-bottom: 60px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .img-fluid {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 33px;
    text-align: center !important;
    width: auto;
  }

  .left-title::after,
  .right-title::after {
    content: "";
    position: absolute;
    top: 78px;
    right: 50% !important;
    transform: translateX(50%) !important;
    width: 120px;
    height: 3px;
    background-color: #ff4655;
    display: none;
  }

  .navbar-collapse {
    background-color: #212121;
  }

  .button {
    margin: 0 auto;
  }

  #banner .text-area {
    padding-top: 245px;
    padding-bottom: 118px;
  }

  #banner h4 {
    text-align: center;
  }

  #banner h1 {
    width: auto;
    text-align: center;
  }

  #banner h1::after {
    top: 88px;
    right: 50%;
    transform: translateX(50%);
  }

  #banner p {
    width: auto;
    text-align: center;
    margin-top: 30px;
  }

  #banner .links {
    justify-content: center;
  }

  #about .aboutcard {
    background-color: #212121;
    padding: 26px 48px;
    border-radius: 0 50px 0 50px;
    margin-bottom: 20px;
  }

  #about .aboutcard h1 {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
  }

  #about .aboutcard h1::after {
    right: -2px;
  }

  #popular-games .mySwiper {
    margin-top: 80px;
  }

  #popular-games .swiper-button-prev {
    top: 123px !important;
    left: 31px !important;
  }

  #popular-games .swiper-button-next {
    top: 123px !important;
    left: 639px !important;
  }

  #stremming .games .game-card {
    margin-bottom: 20px;
  }

  #stremming .games .game-card .overlay h2 {
    padding-top: 260px;
  }

  #stremming .games .game-card .overlay span {
    right: 33px;
    bottom: 24px;
  }

  .headtohed img {
    width: 20%;
    height: auto;
  }

  .headtohed .left-game h5,
  .headtohed .right-game h5 {
    font-size: 27px;
  }

  .headtohed .left-game h5 {
    padding-right: 20px !important;
  }

  .headtohed .right-game h5 {
    padding-left: 20px !important;
  }

  #topgames .poster {
    margin-bottom: 20px;
  }

  .explore img {
    margin-top: 20px;
  }

  #assesories .assesories-card {
    background-color: #212121;
    width: 335px;
    /* width: 100%; */
    /* height: 465px; */
    text-align: center;
    margin: 5px;
  }

  #assesories .swiper-button-next {
    right: 20px;
    top: 470px;
  }
  #assesories .swiper-button-prev {
    left: 17px;
    top: 470px;
  }

  #teams .team-card .overlay {
    padding: 11px 30px;
  }

  #faq .left-title {
    font-size: 27px;
    width: auto !important;
  }

  .space-left {
    margin: 0;
  }

  .all-faq .b-right,
  .all-faq .b-left,
  .all-faq .b-right-t,
  .all-faq .b-left-t {
    border: 0;
  }

  .space-top {
    align-items: flex-start;
  }

  footer form input {
    width: 100%;
  }

  footer .subs h1 {
    font-size: 32px;
    width: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  footer .bottom-part .links {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .img-fluid {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 33px;
    text-align: center !important;
    width: auto;
  }

  .left-title::after,
  .right-title::after {
    content: "";
    position: absolute;
    top: 78px;
    right: 50% !important;
    transform: translateX(50%) !important;
    width: 120px;
    height: 3px;
    background-color: #ff4655;
  }

  .navbar-collapse {
    background-color: #212121;
  }

  .button {
    margin: 0 auto;
  }

  #banner .text-area {
    padding-top: 245px;
    padding-bottom: 118px;
  }

  #banner h4 {
    text-align: center;
    font-size: 44px;
  }

  #banner h1 {
    width: auto;
    font-size: 65px;
    text-align: center;
  }

  #banner h1::after {
    top: 88px;
    right: 50%;
    transform: translateX(50%);
  }

  #banner p {
    width: auto;
    text-align: center;
  }

  #banner .links {
    justify-content: center;
  }

  #about .aboutcard {
    margin-bottom: 20px;
    background-color: #212121;
    padding: 26px 90px;
    border-radius: 0 50px 0 50px;
  }

  #about .aboutcard h1::after {
    right: 10px;
  }

  #popular-games .mySwiper {
    margin-top: 80px;
  }

  #popular-games .swiper-button-prev {
    top: 123px !important;
    left: 31px !important;
  }

  #popular-games .swiper-button-next {
    top: 123px !important;
    left: 639px !important;
  }

  #stremming .games .game-card {
    margin-bottom: 20px;
  }

  #stremming .games .game-card .overlay h2 {
    padding-top: 148px;
  }

  #stremming .games .game-card .overlay span {
    right: 33px;
    bottom: 24px;
  }

  .headtohed img {
    width: 20%;
    height: auto;
  }

  #topgames .poster {
    margin-bottom: 20px;
  }

  .explore img {
    margin-top: 20px;
  }

  #assesories .assesories-card {
    background-color: #212121;
    width: 335px;
    /* width: 100%; */
    /* height: 465px; */
    text-align: center;
    margin: 5px;
  }

  #assesories .swiper-button-next {
    right: 20px;
    top: 470px;
  }
  #assesories .swiper-button-prev {
    left: 17px;
    top: 470px;
  }

  #teams .team-card .overlay {
    padding: 11px 30px;
  }

  #faq .left-title {
    font-size: 27px;
    width: auto !important;
  }

  .space-left {
    margin: 0;
  }

  .all-faq .b-right,
  .all-faq .b-left,
  .all-faq .b-right-t,
  .all-faq .b-left-t {
    border: 0;
  }

  .space-top {
    align-items: flex-start;
  }

  footer form input {
    width: 100%;
  }

  footer .subs h1 {
    font-size: 32px;
    width: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  footer .bottom-part p {
    width: auto;
  }

  footer .bottom-part .links {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .img-fluid {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 33px;
    text-align: center !important;
    width: auto;
  }

  .left-title::after,
  .right-title::after {
    content: "";
    position: absolute;
    top: 78px;
    right: 50% !important;
    transform: translateX(50%) !important;
    width: 120px;
    height: 3px;
    background-color: #ff4655;
  }

  .navbar-collapse {
    background-color: tranleft;
  }

  .button {
    margin: 0;
  }

  #banner .text-area {
    padding-top: 245px;
    padding-bottom: 118px;
  }

  #banner h4 {
    text-align: left;
    font-size: 44px;
  }

  #banner h1 {
    width: auto;
    font-size: 65px;
    text-align: left;
  }

  #banner h1::after {
    top: 88px;
    right: 36%;
    transform: translateX(50%);
  }

  #banner p {
    text-align: left;
    width: 523px;
  }

  #banner .links {
    justify-content: flex-start;
  }

  #about .aboutcard {
    margin-bottom: 20px;
    background-color: #212121;
    padding: 26px 37px;
    border-radius: 0 50px 0 50px;
  }

  #about .aboutcard h1::after {
    right: 10px;
  }

  #popular-games .mySwiper {
    margin-top: 80px;
  }

  #popular-games .swiper-button-prev {
    top: 150px !important;
    left: 9px !important;
  }

  #popular-games .swiper-button-next {
    top: 150px !important;
    left: 884px !important;
  }

  #stremming .games .game-card {
    margin-bottom: 20px;
  }

  #stremming .games .game-card .overlay img {
    width: 60px;
  }

  #stremming .games .game-card .overlay h2 {
    padding-top: 128px;
    font-size: 18px;
  }

  #stremming .games .game-card .overlay span {
    right: 33px;
    bottom: 24px;
  }

  .headtohed img {
    width: 20%;
    height: auto;
  }

  #topgames .poster {
    margin-bottom: 20px;
  }

  .explore img {
    margin-top: 20px;
  }

  #assesories .assesories-card {
    background-color: #212121;
    width: 222px;
    text-align: center;
    margin: 5px;
  }

  #assesories .assesories-card img {
    width: 100%;
  }

  #assesories .swiper-button-next {
    right: 20px;
    top: 470px;
  }
  #assesories .swiper-button-prev {
    left: 17px;
    top: 470px;
  }

  #teams .team-card .overlay {
    padding: 11px 30px;
  }

  #faq .left-title {
    font-size: 27px;
    width: auto !important;
  }

  .space-left {
    margin: 0;
  }

  .all-faq .b-right,
  .all-faq .b-left,
  .all-faq .b-right-t,
  .all-faq .b-left-t {
    border: 0;
  }

  .space-top {
    align-items: flex-start;
  }

  footer form input {
    width: 100%;
  }

  footer .subs h1 {
    font-size: 32px;
    width: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  footer .bottom-part p {
    width: auto;
  }

  footer .bottom-part .links {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #popular-games .swiper-button-prev {
    top: 226px !important;
    left: 1053px !important;
  }

  #popular-games .swiper-button-next {
    top: 303px !important;
    left: 1053px !important;
  }

  #about .aboutcard h1::after {
    right: -31px;
  }

  #assesories .assesories-card {
    width: 270px;
  }

  #assesories .swiper-button-next {
    right: 114px;
  }

  #assesories .swiper-button-prev {
    left: 109px;
  }

  footer form input {
    width: 100%;
  }
}
